<script setup>
import { useLayout } from '@/layout/composables/layout';
import { ref, computed, onMounted } from 'vue';
import AppConfig from '@/layout/AppConfig.vue';
import Toast from 'primevue/toast';

// pinia tryal
import useAuthStore from '@/stores/auth';

const authStore = useAuthStore();

// onMounted(async()=>{await authStore.getUser} );

const { layoutConfig } = useLayout();
const email = ref('');
const password = ref('');
const checked = ref(false);

// *****

const handleSubmit = async () => {
    console.log("email", email.value)
    console.log("password", password.value)

    try {
        const user = await authStore.login(email.value, password.value)

        console.log(user)
    } catch (error) {
        console.log(error)
    }
}

const logoUrl = computed(() => {
    return `layout/images/${layoutConfig.darkTheme.value ? 'pbethLogo' : 'pbethLogo'}.png`;
});
</script>

<template>
    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img :src="logoUrl" alt="pbeth Logo" class="mb-5 w-6rem flex-shrink-0" />
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <img src="/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3" />
                        <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
                        <span class="text-600 font-medium">Sign in to continue</span>
                    </div>
                    <!-- pinia tryal -->
                    <!-- <div v-if="authStore.user">
                     <h2>{{ user?.name }}</h2>
                     <h2>{{ user?.email }}</h2>
                    </div>
                    <div v-else>
                     <h2>go login</h2>
                     
                    </div> -->
                    <div>
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Email</label>
                        <InputText id="email1" type="text" placeholder="Email address" class="w-full md:w-30rem mb-5" style="padding: 1rem" v-model="email" />

                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Password</label>
                        <Password id="password1" v-model="password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"></Password>

                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <div class="flex align-items-center">
                                <Checkbox v-model="checked" id="rememberme1" binary class="mr-2"></Checkbox>
                                <label for="rememberme1">Remember me</label>
                            </div>
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)">Forgot password?</a>
                        </div>

                        <Button label="Sign In" @click="handleSubmit" class="w-full p-3 text-xl"></Button>
                        <router-link to="/auth/signup">
                            <h5 class="p-3 text-xl">Sign up | <small class="text-blue">If you don't have an account</small></h5>
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <AppConfig simple />
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
