<script setup>
import AppConfig from '@/layout/AppConfig.vue';
import { ref, reactive, computed } from 'vue';
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, sameAs, between, minValue } from '@vuelidate/validators';

const state = reactive({
    fnames: '',
    roles: '',
    phones: '',
    emails: '',
    password: ''
});

const rules = computed(() => {
    return {
        fnames: { required },
        roles: { required },
        phones: { required },
        emails: { required, email },
        password: { required }
    };
});

const v$ = useVuelidate(rules, state);
const submitForm = async () => {
    const result = await v$.value.$validate();
    if (result) {
        return alert('submitted sucsessfully');
    } else {
        return alert('Fill the form exactly');
    }
};
</script>

<template>
    <div class="card surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
        <div class="flex flex-column align-items-center justify-content-center">
            <img :src="logoUrl" alt="pbeth Logo" class="mb-5 w-6rem flex-shrink-0" />
            <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius: 53px">
                    <div class="text-center mb-5">
                        <img src="/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3" />
                        <div class="text-900 text-3xl font-medium mb-3">Welcome!</div>
                        <span class="text-600 font-medium">Signup to continue</span>
                    </div>
                    <!-- ***** -->
                    <div class="grid">
                        <div class="col-12">
                            <div class="card">
                                <!-- edited -->
                                <div class="p-fluid formgrid grid">
                                    <!-- <form action=""> -->
                                    <div class="field col-12 md:col-6">
                                        <label for="Fullname" class="block font-medium text-xl mb-2">First name</label>
                                        <InputText id="Firstname" type="text" v-model="state.fnames" />
                                        <p v-if="v$.fnames.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="Lastname" class="block font-medium text-xl mb-2">Last name</label>
                                        <InputText id="fullname" type="text" v-model="state.fnames" />
                                        <p v-if="v$.fnames.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="role" class="block font-medium text-xl mb-2">Role</label>
                                        <InputText id="role" type="text" v-model="state.roles" @input="setTouched('fname')" />
                                        <p v-if="v$.roles.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                    <!-- additional -->
                                    <div class="field col-12 md:col-6">
                                        <label for="Phone" class="block font-medium text-xl mb-2">Phone</label>
                                        <InputText id="phone" v-model="state.phones" type="text" />
                                        <p v-if="v$.phones.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="email" class="block font-medium text-xl mb-2">Email</label>
                                        <InputText id="email" v-model="state.emails" type="text" />
                                        <p v-if="v$.emails.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>

                                    <div class="field col-12 md:col-6">
                                        <label for="password1" class="block font-medium text-xl mb-2">Password</label>
                                        <Password id="password1" v-model="state.password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"></Password>
                                        <p v-if="v$.password.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                    <div class="field col-12 md:col-6">
                                        <label for="password2" class="block text-900 font-medium text-xl mb-2">Confirm Password</label>
                                        <Password id="password2" v-model="state.password" placeholder="Password" :toggleMask="true" class="w-full mb-3" inputClass="w-full" inputStyle="padding:1rem"></Password>
                                        <p v-if="v$.password.$error" class="text-red-600 mt-3">This field can not be empity</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-12">
                            <div class="p-fluid formgrid grid">
                                <br />
                                <div class="field col-12 md:col-6">
                                    <!-- <router-link to="/"> -->
                                    <Button label="Signup" class="p-3 text-xl" @click="submitForm"></Button>
                                    <!-- </router-link> -->
                                </div>
                                <!-- <div class="field col-12 md:col-6"> -->
                                    <!-- <router-link to="/"> -->
                                    <!-- <Button label="Sign in" class="p-3 text-xl" @click="submitForm"></Button> -->
                                    <!-- </router-link> -->
                                <!-- </div> -->
                                <div class="field col-12 md:col-6">
                                    <router-link to="/auth/login">
                                    <h5 class="p-3 text-xl" > Sign in |<small class="text-blue">If you already have an account</small> </h5>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***** -->
                </div>
            </div>
        </div>
    </div>
    <AppConfig simple />
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>
