<template lang="">
    <div>
        <!-- <OverView /> -->
        <!-- <FormLayout /> -->
        <!-- <MainTable /> -->
        <div class="col-12 md:col-6">
            <div class="p-inputgroup">
                <Button label="Search" />
                <InputText placeholder="Keyword" />
            </div>
        </div>
        <TabView>
            <TabPanel header="Overview">
                <OverView />
                <Chart />
                <Notification />
            </TabPanel>
            <!-- <TabPanel header="Registration Form">
                <FormLayout />
            </TabPanel> -->
            <TabPanel header="Clients list">
                <MainTable />
            </TabPanel>
        </TabView>
    </div>
</template>

<script setup>
import Chart from '../../views/uikit/Chart.vue';
import OverView from '../../views/uikit/OverView.vue';
import MainTable from '../../views/uikit/MainTable.vue';
import Notification from '../../views/uikit/Notification.vue';
</script>
<style lang=""></style>
