<template lang="">
    <!-- <div> -->
       
        <!-- <OverView /> -->
        <!-- <FormLayout /> -->
        <!-- <MainTable /> -->
    <!-- </div> -->

    <div class="card">
                <h5>Clients Information</h5>
                
                <!-- <div class="col-12 md:col-6">
                        <div class="p-inputgroup">
                            <Button label="Search" />
                            <InputText placeholder="Keyword" />
                        </div> -->
                    <!-- </div> -->
                <TabView>
                    <TabPanel header="Overview">
                        <OverView />
                    </TabPanel
                    >
                    <TabPanel header="Registration Form">
                        <FormLayout />
                    </TabPanel>
                    <TabPanel header="Clients list">
                        <MainTable />
                    </TabPanel>
                </TabView>
            </div>
                <!-- <Notification /> -->
</template>

<script setup>
import FormLayout from '../../views/uikit/FormLayout.vue';
import OverView from '../../views/uikit/OverView.vue';
import MainTable from '../../views/uikit/MainTable.vue';
import Notification from '../../views/uikit/Notification.vue';
</script>