<template lang="">
  <div>
    <div class="col-12 md:col-6">
                        <!-- <div class="p-inputgroup">
                            <Button label="Search" />
                            <InputText placeholder="Keyword" />
                        </div> -->
                    </div>
                <TabView>
                    <TabPanel header="Overview">
                        <OverView />
                    </TabPanel
                    >
                    <TabPanel header="Registration Form">
                        <FormLayout sales = true />
                    </TabPanel>
                    <TabPanel header="Clients list">
                        <MainTable />
                    </TabPanel>               
                </TabView>               

      <!-- <OverView /> -->
      <!-- <FormLayout /> -->
      <!-- <Chart /> -->
   
      <!-- <FormLayout /> -->
  </div>
</template>

<script setup>
// import Chart from '../../views/uikit/Chart.vue';
import OverView from '../../views/uikit/OverView.vue';
import FormLayout from '../../views/uikit/FormLayout.vue';
import Notification from '../../views/uikit/Notification.vue';
import MainTable from '../../views/uikit/MainTable.vue';
</script>