<template>
    <!-- <div class="col-12">
            <div class="card">
                <h5>Splitter</h5>

                <Splitter style="height: " class="mb-5">
                    <SplitterPanel :size="30" :minSize="10" style="overflow: scroll">
                        <div className="h-full flex align-items-center justify-content-center"> <Notification /> </div>
                    </SplitterPanel>
                    <SplitterPanel :size="70" style="overflow: scroll">
                        <Splitter layout="vertical">
                            <SplitterPanel :size="15">
                                <div className="h-full flex align-items-center justify-content-center">Panel 2</div>
                            </SplitterPanel>
                            <SplitterPanel :size="50">
                                <div className="h-full flex align-items-center justify-content-center"><FormLayout /></div>
                            </SplitterPanel>
                        </Splitter>
                    </SplitterPanel>
                </Splitter>
            </div>
        </div> -->

    <!-- <TabView>
                    <TabPanel header="Overview">
                        <OverView />
                    </TabPanel
                    >
                    <TabPanel header="Registration Form">
                        <FormLayout />
                    </TabPanel>
                    <TabPanel header="Clients list">
                        <MainTable />
                    </TabPanel>
                </TabView> -->
    <div class="col-12">
        <div class="card">
            <div class="grid">
                <div class="p-fluid">
                    <TabView>
                        <TabPanel header="Overview">
                            <OverView />
                            <div class="col">
                                <ProgressBar :value="value"> curent meeting</ProgressBar>
                                <SecretarySchaduleLayout />
                            </div>
                        </TabPanel>
                        <TabPanel header="Registration Form">
                            <SecretaryForm />
                        </TabPanel>
                        <TabPanel header="Clients list">
                            <ScrollPanel style="width: auto; height: 100%" class="custombar1 fuid">
                                <SecretaryTable />
                            </ScrollPanel>
                        </TabPanel>
                    </TabView>
                    <!-- <label for="username">Username</label>
                                <InputText id="username" type="text" />
                            </div>
                            <div class="field">
                                <label for="password">Password</label>
                                <InputText id="password" type="password" />
                            </div>
                            <Button label="Login" class="mt-2"></Button> -->
                    <!-- <FormLayout /> -->
                </div>
            </div>
            <!-- <FormLayout /> -->
        </div>
    </div>
</template>

<script setup>
import SecretarySchaduleLayout from '../../views/uikit/SecretarySchaduleLayout.vue';
import SecretaryTable from '../../views/uikit/SecretaryTable.vue';
import SecretaryForm from '../../views/uikit/SecretaryForm.vue';
import { ref, onMounted, onBeforeUnmount } from 'vue';

const date = ref();

const checkboxValue = ref([]);
const switchValue = ref(false);
const dropdownItems = ref([
    { name: 'Option 1', code: 'Option 1' },
    { name: 'Option 2', code: 'Option 2' },
    { name: 'Option 3', code: 'Option 3' }
]);

const dropdownItem = ref(null);
// import FormLayout from '../../views/uikit/FormLayout.vue';
const value = ref(0);
let interval = null;

const startProgress = () => {
    interval = setInterval(() => {
        let newValue = value.value + Math.floor(Math.random() * 10) + 1;
        if (newValue >= 100) {
            newValue = 100;
        }
        value.value = newValue;
    }, 2000);
};
const endProgress = () => {
    clearInterval(interval);
    interval = null;
};

onMounted(() => {
    startProgress();
});

onBeforeUnmount(() => {
    endProgress();
});
</script>

<style></style>
