<script setup>
// import Signup from '../pages/auth/Signup.vue';
// import FullCalendar from '../../components/FullCalendar.vue';
</script>

<template>
    <div class="card surface-ground flex align-items-center justify-content-center min-h-screen overflow-hidden">
        <Signup />
        <!-- <FullCalendar /> -->
    </div>
    <!-- <AppConfig simple /> -->
</template>

<style scoped>
.pi-eye {
    transform: scale(1.6);
    margin-right: 1rem;
}

.pi-eye-slash {
    transform: scale(1.6);
    margin-right: 1rem;
}
</style>


