<script setup>
import { ref, reactive, computed, onMounted } from 'vue';
import useVuelidate from '@vuelidate/core'
import { required, email,minLength, sameAs, between, minValue} from '@vuelidate/validators'
// import BaseInput from '@useVuelidate/validators'

const props = defineProps([
    'sales'
        
])



const checkboxValue = ref([]);
const switchValue = ref(false);
const dropdownItems = ref([
    { name: 'Option 1', code: 'Option 1' },
    { name: 'Option 2', code: 'Option 2' },
    { name: 'Option 3', code: 'Option 3' }
]);

const dropdownItem = ref(null);

const state = reactive({

    fnames : '',
    reasons : '',
    phones: '',
    emails : '',
    saless : ''
})

const rules = computed(()=>{
    return{
        fnames : {required},
    reasons : {required, },
    phones:{required},
    emails :{required, email},
    saless :{required}
    }
})

const v$ = useVuelidate(rules, state)
// return{
//     state,
//     v$
// }
// const isFormValid = computed(() => state&& rules);
const submitForm =async()=> {
    const result = await v$.value.$validate();
    if(result){
        return alert('submitted sucsessfully')
    } else {

        return alert('Fill the form exactly')  
        { state, v$, submitForm}
    }

    }

</script>

<template>
     <div class="grid">
        <!--
        <div class="col-12 md:col-6">
            <div class="card p-fluid">
                <h5>Vertical</h5>
                <div class="field">
                    <label for="name1">Name</label>
                    <InputText id="name1" type="text" />
                </div>
                <div class="field">
                    <label for="email1">Email</label>
                    <InputText id="email1" type="text" />
                </div>
                <div class="field">
                    <label for="age1">Age</label>
                    <InputText id="age1" type="text" />
                </div>
            </div>

            <div class="card p-fluid">
                <h5>Vertical Grid</h5>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name2">Name</label>
                        <InputText id="name2" type="text" />
                    </div>
                    <div class="field col">
                        <label for="email2">Email</label>
                        <InputText id="email2" type="text" />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 md:col-6">
            <div class="card p-fluid">
                <h5>Horizontal</h5>
                <div class="field grid">
                    <label for="name3" class="col-12 mb-2 md:col-2 md:mb-0">Name</label>
                    <div class="col-12 md:col-10">
                        <InputText id="name3" type="text" />
                    </div>
                </div>
                <div class="field grid">
                    <label for="email3" class="col-12 mb-2 md:col-2 md:mb-0">Email</label>
                    <div class="col-12 md:col-10">
                        <InputText id="email3" type="text" />
                    </div>
                </div>
            </div>

            <div class="card">
                <h5>Inline</h5>
                <div class="formgroup-inline">
                    <div class="field">
                        <label for="firstname1" class="p-sr-only">Firstname</label>
                        <InputText id="firstname1" type="text" placeholder="Firstname" />
                    </div>
                    <div class="field">
                        <label for="lastname1" class="p-sr-only">Lastname</label>
                        <InputText id="lastname1" type="text" placeholder="Lastname" />
                    </div>
                    <Button label="Submit"></Button>
                </div>
            </div>

            <div class="card">
                <h5>Help Text</h5>
                <div class="field p-fluid">
                    <label for="username">Username</label>
                    <InputText id="username" type="text" />
                    <small>Enter your username to reset your password.</small>
                </div>
            </div>
        </div> -->

        <!-- ******************************************************************* -->
<form action="" @submit.prevent="submitForm">
    <div class="col-12">
        <div class="card">
                <h5>Clients Registration Form</h5>
                <!-- edited -->
                <div class="p-fluid formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="Fullname">Fullname</label>
                        <InputText id="fullname" type="text" v-model="state.fnames"/>
                        <p v-if="v$.fnames.$error" class="text-red-600 mt-3">This field can not be empity </p>
                     
                    </div>
                    <div class="field col-12 md:col-6" v-if="!props.sales">
                        <label for="reason">Reason</label>
                        <InputText id="reason" type="text" v-model="state.reasons" />
                        <p v-if="v$.reasons.$error" class="text-red-600 mt-3">This field can not be empity </p>
                    </div>
                    <!-- additional -->
                    <div class="field col-12 md:col-6">
                        <label for="Phone">Phone</label>
                        <InputText id="phone" v-model="state.phones" type="text" />
                        <p v-if="v$.phones.$error" class="text-red-600 mt-3">This field can not be empity </p>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="email">Email</label>
                        <InputText id="email" v-model="state.emails" type="text" />
                        <p v-if="v$.emails.$error" class="text-red-600 mt-3">This field can not be empity </p>
                    </div>
                    <div class="field col-12 md:col-6" v-if="!props.sales">
                        <label for="sales">Sales person</label>
                        <InputText id="sales" v-model="state.saless" type="text" />
                        <p v-if="v$.saless.$error" class="text-red-600 mt-3">This field can not be empity </p>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="email">Type</label>
                        <div class="grid field">
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton mb-0">
                                    <RadioButton id="option1" name="option" value="Ordinary" v-model="radioValue" />
                                    <label for="option1">Ordinary</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton mb-0">
                                    <RadioButton id="option2" name="option" value="Franchise" v-model="radioValue" />
                                    <label for="option2">Franchise</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton mb-0">
                                    <RadioButton id="option3" name="option" value="Both" v-model="radioValue" />
                                    <label for="option3">TSM</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-4">
                                <div class="field-radiobutton mb-0">
                                    <RadioButton id="option3" name="option" value="Both" v-model="radioValue" />
                                    <label for="option3">Both</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-12" v-if="!props.sales">
                        <label for="email">Source</label>
                        <div class="grid field">
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption1" name="option" value="Facebook" v-model="checkboxValue" />
                                    <label for="checkOption1">Facebook</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption2" name="option" value="Youtyoube" v-model="checkboxValue" />
                                    <label for="checkOption2">Youtube</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption3" name="option" value="Telegram" v-model="checkboxValue" />
                                    <label for="checkOption3">Telegram</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption4" name="option" value="Tiktok" v-model="checkboxValue" />
                                    <label for="checkOption4">Tiktok</label>
                                </div>
                            </div>
                        </div>
                        <div class="grid field">
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption5" name="option" value="Linkedin" v-model="checkboxValue" />
                                    <label for="checkOption5">Linkedin</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption6" name="option" value="TV" v-model="checkboxValue" />
                                    <label for="checkOption6">TV</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption7" name="option" value="Radio" v-model="checkboxValue" />
                                    <label for="checkOption7">Radio</label>
                                </div>
                            </div>
                            <div class="col-12 md:col-3">
                                <div class="field-checkbox mb-0">
                                    <Checkbox id="checkOption8" name="option" value="Other" v-model="checkboxValue" />
                                    <label for="checkOption8">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- additional -->

                    <!-- <div class="field col-12">
                        <label for="address">Address</label>
                        <Textarea id="address" rows="4" />
                    </div> -->
                    <div class="field col-12 md:col-6" v-if="!props.sales">
                        <label for="city">Served by</label>
                        <InputText id="city" type="text" />
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="state">State</label>
                        <Dropdown id="state" v-model="dropdownItem" :options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
                    </div>
                    <div class="field col-12 md:col-4">
                        <br>
                        <Button label="Submit"  @click="submitForm"></Button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
</template>
