<template>
      <div class="col-12">
        <div class="card">
            <div class="grid">
                <h4>Doctor's program</h4>
            </div>
            <!-- <div class="grid">
            </div> -->
            <!-- <FullCalendar /> -->
        </div>
     </div>
</template>

<script setup>
// import FullCalendar from '@/components/FullCalendar.vue';
</script>

<style>

</style>