<template>
                              <div class="grid">
                                <div class="col-12">
                                    <div class="card">
                                        <h5>Clients Registration Form</h5>
                                        <!-- edited -->
                                        <div class="p-fluid formgrid grid">
                                            <!-- <form action=""> -->
                                            <div class="field col-12 md:col-6">
                                                <label for="Fullname">Fullname</label>
                                                <InputText id="fullname" type="text" v-model="state.fnames"  />
                                                <p v-if="v$.fnames.$error" class="text-red-600 mt-3">This field can not be empity </p>
                                            <!-- name is  {{ state.fnames }} -->
                                            </div>
                                            <div class="field col-12 md:col-6">
                                                <label for="reason">Reason</label>
                                                <InputText id="reason" type="text" v-model="state.reasons" @input="setTouched('fname')"  />
                                                <p v-if="v$.reasons.$error" class="text-red-600 mt-3">This field can not be empity </p>
                                            </div>
                                            <!-- additional -->
                                            <div class="field col-12 md:col-6">
                                                <label for="Phone">Phone</label>
                                                <InputText id="phone" v-model="state.phones" type="text" />
                                                <p v-if="v$.phones.$error" class="text-red-600 mt-3">This field can not be empity </p>
                                            </div>
                                            <div class="field col-12 md:col-6">
                                                <label for="email">Email</label>
                                                <InputText id="email" v-model="state.emails" type="text" />
                                                <p v-if="v$.emails.$error" class="text-red-600 mt-3">This field can not be empity </p>
                                            </div>
                                            <div class="field col-12 md:col-6">
                                                <label for="participant">Other Participant</label>
                                                <InputText id="participant" type="text" v-model="state.participant" />
                                                <p v-if="v$.participant.$error" class="text-red-600 mt-3">This field can not be empity </p>
                                            </div>

                                            <div class="field col-12 md:col-6">
                                                <label for="email">Priority</label>
                                                <div class="grid field">
                                                    <div class="col-12 md:col-4">
                                                        <div class="field-radiobutton mb-0">
                                                            <RadioButton id="option1" name="option" value="Urgent" v-model="radioValue" />
                                                            <label for="option1">Urgent</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 md:col-4">
                                                        <div class="field-radiobutton mb-0">
                                                            <RadioButton id="option2" name="option" value="notUrgent" v-model="radioValue" />
                                                            <label for="option2">not Urgent</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- additional -->

                                            <!-- <div class="field col-12">
                        <label for="address">Address</label>
                        <Textarea id="address" rows="4" />
                    </div> -->
                                            <div class="field col-12 md:col-6">
                                                <label for="date">Date and time</label>
                                             
                                                <div class=" flex ">
                                                    <Calendar v-model="date">
                                                        <template #date="slotProps">
                                                            <strong v-if="slotProps.date.day > 10 && slotProps.date.day < 15" style="text-decoration: line-through">{{ slotProps.date.day }}</strong>
                                                            <template v-else>{{ slotProps.date.day }}</template>
                                                        </template>
                                                    </Calendar>
                                                </div>

                                            </div>
                                            <!-- <div class="field col-12 md:col-3">
                                                <label for="state">State</label>
                                                <Dropdown id="state" v-model="dropdownItem" :options="dropdownItems" optionLabel="name" placeholder="Select One"></Dropdown>
                                            </div> -->
                                            <div class="field col-12 md:col-4">
                                                <br />
                                                <Button label="Submit" @click="submitForm"></Button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</template>

<script setup>
import { ref, reactive, computed } from 'vue';
import useVuelidate from '@vuelidate/core'
import { required, email,minLength, sameAs, between, minValue} from '@vuelidate/validators'


const state = reactive({

fnames : '',
reasons : '',
phones: '',
emails : '',
participant : ''
})

const rules = computed(()=>{
return{
   fnames : {required},
reasons : {required, },
phones:{required},
emails :{required, email},
participant :{required}
}
})

const v$ = useVuelidate(rules, state)
// return{
//     state,
//     v$
// }

const submitForm =async()=> {
const result = await v$.value.$validate();
if(result){
return alert('submitted sucsessfully')
}else{
    return alert('Fill the form exactly')
}
}
</script>

<style>

</style>