<script setup>
import { reactive, ref, watch } from 'vue'
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import timeGridPlugin from '@fullcalendar/timegrid'
import listPlugin from '@fullcalendar/list'
import resourceTimelinePlugin from '@fullcalendar/resource-timeline'
// import useEvents from '../composables/useEvents'
// import { getEventTargetViaRoot } from '@fullcalendar/core/internal'

const {getEvents, createEvent, updateEvent, deleteEvent} = useEvents()

    const id = ref(10)

    const calendarOptions = reactive({
    //   calendarOptions: {
        plugins: [ dayGridPlugin, interactionPlugin, resourceTimelinePlugin, timeGridPlugin,
listPlugin ],

initialView: 'dayGridMonth',

        headerToolbar: {
            left: 'prev,next,today ',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,listDay'
        },
        editable: true,
        selectable: true,

        weekends: true, // initial value

        select:(arg)=>{
            id.value = id.value + 1
            const cal = arg.view.calendar
            cal.unselect()
            // cal.newEvent({
            cal.addEvent({
                id: `${id.value}`,
                title: `New event ${id.value}`,
                start: arg.start,
                end: arg.end,
                allDay: true
            })
        },
        eventClick: (arg)=>{
           if(arg.event){
            arg.event.remove()
           }
        },
        events: [],
        eventAdd: (arg)=>{
            createEvent({
                id: arg.event.id,
                title: arg.event.title,
                start: arg.event.start,
                end: arg.event.end,
                allDay: arg.event.allDay
            })
        },
        eventChange: (arg)=>{
            updateEvent({
                id: arg.event.id,
                title: arg.event.title,
                start: arg.event.start,
                end: arg.event.end,
                allDay: arg.event.allDay
            },arg.event.id)
        },
        eventRemove: (arg)=>{
            deleteEvent(arg.event.id)
        }

        
    });

    calendarOptions.events= getEvents.value
    watch(getEvents, ()=>{
        calendarOptions.events = getEvents.value
    })

        

</script>

<template>
    <div class="container">
        hello
        <!-- <button @click="toggleWeekends">toggle weekends</button> -->
  <FullCalendar v-bind:options="calendarOptions" />
</div>
</template>